.cont-style{
    margin-top: 70px;background-color: ghostwhite; padding-bottom:20px;
}
.user-style{
    padding-top:25px;
}
.label-class{
     font-size: 18px;
        padding-bottom: 25px;
}
.p-bottom{
    padding-bottom:5px;
}
.option{
    font-size:12px;
}